html,
body {
  height: 100%;
  font-family: "Noto Serif", serif;
  overflow-x: hidden;
}

textarea, input, select, label, form {
  font-size: 14px;
  font-weight: inherit;
  text-decoration: none;
  font-family: "Noto Serif", serif;
}

.container {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(1, 19, 27);
  color: rgba(255, 255, 255, 0.822);
  padding: 20px;
}

.menu{
  flex: 1;
}

.logout {
  background-color: rgb(75, 82, 85);
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 40px;
  width: 100px;
  height: 44px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item-box {
  display: flex;
  align-items: center;
  margin: 25px;
  padding: 5px 20px 5px 20px;
  border: 2px solid hsl(0, 0%, 70%);
  border-radius: 4px;
  justify-content: space-between;
}

.item-content {
  margin-right: 8px;
}

.item-buttons {
  display: flex;
  flex-direction: column;
}

.Button {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 40px;
  width: 70px;
  height: 40px;
}

.form-modal {
  font-family: "Noto Serif", serif;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}

.form-label {
  width: 80px;
  font-weight: bold;
  margin-bottom: auto;

}

.form-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-button {
  width: 150px;
  height: 30px;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
}

.form-title {
  min-height: 35px;
  max-height: 60px;
  min-width: 360px;
  max-width: 360px;
  outline: none;
  padding: 8px;
  /* margin-top: 10px; */
}

.form-body {
  min-height: 120px;
  max-height: 150px;
  min-width: 360px;
  max-width: 360px;
  outline: none;
  padding: 8px;
  /* margin-top: 5px; */
  /* margin-bottom: 10px; */
}

.add-group{
  display: flex;
  position: relative;
  align-items: center;
  margin: 10px 10px 15px 10px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.add-input{
  display: flex;
  padding: 8px;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.add-title {
  margin: 8px;
  padding: 8px;
  width: 100%;
}

.add-body {
  margin: 8px;
  padding: 8px;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 100px;
  
}

.add-button{
  display: flex;
  flex-shrink: 0;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 30px 40px 30px 30px;
  cursor: pointer;
  border-radius: 40px;
  width: 100px;
  height: 44px;
}

